button {
    width: 250px;
    height: 80px;
    font-size: 27px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(205, 209, 152);
}

.clickbutton {
    background-color:rgb(209, 185, 119);
}


.restartbutton {
    background-color: rgb(143, 125, 75);
}
